graft docs
graft nidhogg
graft tests

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml

include run.py

global-exclude *.py[co] __pycache__