graft docs
graft conf
graft nidhogg
graft tests

include *.komodoproject
include .coveragerc
include .isort.cfg
include .pylintrc

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include tox.ini .travis.yml

include run.py

global-exclude *.py[co] __pycache__